@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a demo application</h1>    
</div>

<a asp-page="./Create">Create new course</a></br>
<table class="table">
    @foreach(var course in Model.courseobj)
    {
    <tr>
        <td>@course.Id</td>
        <td>@course.Name</td>
        <td>@course.rating</td>
        <td>
            <a asp-page="./Details" asp-route-Id="@course.Id">Details</a>
        </td>
        <td>
            <a asp-page="./Edit" asp-route-Id="@course.Id">Edit</a>
        </td>
    </tr>
    }
</table>

